body {
    font-family: 'Lato';
    font-weight: 500;
    line-height: 1.1;
}

.wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
}

.navbar {
    background: #000000;
}

.navbar img {
    width: 300px;
}

.submit {
    background: #F9B03D;
    color: #ffffff;
}

input::-webkit-input-placeholder {
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    line-height: 1.1;

}

input:-moz-placeholder { /* Firefox 18- */
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    line-height: 1.1;

}

input::-moz-placeholder { /* Firefox 19+ */
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    line-height: 1.1;

}

input:-ms-input-placeholder {
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    line-height: 1.1;

}

textarea:hover,
input.btn.submit:hover,
textarea:active,
input.btn.submit:active,
textarea:focus,
input.btn.submit:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px;
    -webkit-appearance: none;
}

.target_string {
    color: #F9B03D;
    border-color: #F9B03D;
    width: 200px;
    height: 100px;
    border-radius: .25rem;
}

.target_file {
    background: #ffffff;
    color: #000;
    border-color: #F9B03D;
}

textarea::-webkit-input-placeholder {
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    line-height: 1.1;
    opacity: .6;
}

textarea:-moz-placeholder { /* Firefox 18- */
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    font-size: 1.3em;
    line-height: 1.1;
    opacity: .6;
}

textarea::-moz-placeholder { /* Firefox 19+ */
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    font-size: 1.3em;
    line-height: 1.1;
    opacity: .6;
}

textarea:-ms-input-placeholder {
    color: #F9B03D;
    text-align: center;
    font-weight: 100;
    font-size: 1.3em;
    line-height: 1.1;
    opacity: .6;
}

